body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* TOP BAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #1e293b;
  align-items: center;
}

#date {
  font-size: 22px;
}

#clock {
  font-size: 40px;
  font-weight: bold;
}

#timer-display {
  font-size: 50px;
  font-weight: bold;
  color: #38bdf8;
}

/* GRID */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* CARDS */
.panel {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

h2 {
  margin-top: 0;
}

/* TIMER INPUT */
input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}
